*.tar.bz2
*.tar.gz
*.7z
*.pyc
*.zip
*.exe
*.swp
darwin-Cura-*
win32-Cura-*
linux-Cura-*
*.iml
Printrun
=======
.idea
.DS_Store
Cura/current_profile.ini
Cura/preferences.ini
build
dist
pypy
OctoPrint_flashArduino.egg-info
*.orig

*.codekit
/octoprint_flasharduino/.vs/config/applicationhost.config
/octoprint_flasharduino/.vs/octoprint_flasharduino/v14/.suo
/octoprint_flasharduino/octoprint_flasharduino.pyproj
/octoprint_flasharduino/octoprint_flasharduino.pyproj.user
/octoprint_flasharduino/octoprint_flasharduino.sln
