/* we might need this */
#settings_plugin_flasharduino .progress {
	height: 40px;
	position: relative;
}

#settings_plugin_flasharduino .progress .bar{
	z-index: 1;
	position: absolute;
}

.progress span{
	z-index: 2;
	position: absolute;
	top: 25%;
	text-align: center;
	width: 100%;
	color: white;
}