<div class="control-group">
    <label class="control-label">{{ _('Hex file') }}</label>
    <div class="controls">
        <div class="input-prepend">
		    <span class="btn fileinput-button">
		        <span>{{ _('Browse...') }}</span>
		        <input id="settings-hex-upload" type="file" name="file" data-url="{{ url_for("plugin.flasharduino.upload_hex") }}">
		    </span>
            <span class="add-on" data-bind="text: fileName"></span>
        </div>
    </div>
</div>
<select id="connection_ports_flash" data-bind="options: connection.portOptions, optionsCaption: 'AUTO', value: connection.selectedPort, css: {disabled: connection.!isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>
<select id="connection_baudrates_flash" data-bind="options: connection.baudrateOptions, optionsCaption: 'AUTO', value: connection.selectedBaudrate, css: {disabled: connection.!isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>