<div class="control-group">
    <label class="control-label">{{ _('Hex file') }}</label>
    <div class="input-prepend">
	    <span class="btn fileinput-button">
	        <span>{{ _('Browse...') }}</span>
	        <input id="settings-flash-arduino" type="file" name="file" data-url="{{ url_for("plugin.flasharduino.flash") }}">
	    </span>
        <span class="add-on" data-bind="text: hex_path"></span>
    </div>
</div>
<div class="control-group">
   <label for="connection_ports_flash" data-bind="css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()">{{ _('Serial Port') }}</label>
    <div class="controls">
    	<select id="connection_ports_flash" data-bind="options: connection.portOptions, optionsCaption: 'AUTO', value: selected_port, css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>
    </div>
</div>
<div class="control-group">
    <label for="connection_baudrates_flash" data-bind="css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()">{{ _('Baud rate') }}</label>
    <div class="controls">
    	<select id="connection_baudrates_flash" data-bind="options: connection.baudrateOptions, optionsCaption: 'AUTO', value: selected_baudrate, css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{ _('Board') }}</label>
    <div class="controls">
        <select data-bind="options: boards, optionsText: 'text', optionsValue: 'value', value: selected_board"></select>
    </div>
</div>
<div class="control-group">
    <label class="control-label">{{ _('Programmer') }}</label>
    <div class="controls">
        <select data-bind="options: programmers, optionsText: 'text', optionsValue: 'value', value: selected_programmer"></select>
    </div>
</div>
<button class="btn btn-primary" id="settings-flash-arduino-start">{{ _('Flash') }}</button>
