<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-avrdude-path">{{ _('Path to Avrdude') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.flasharduino.avrdude_path">
        </div>
    </div>
</form>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="settings-avrdude-conf">{{ _('Path to avrdude.conf') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.flasharduino.avrdude_conf">
            Save these settings once before flashing.
        </div>
    </div>
</form>
<div class="row">
	<div class="span4">
		<div class="control-group">
		    <label class="control-label">{{ _('Hex file') }}</label>
		    <div class="input-prepend">
			    <span class="btn fileinput-button">
			        <span>{{ _('Browse...') }}</span>
			        <input id="settings-flash-arduino" type="file" name="file" data-url="{{ url_for("plugin.flasharduino.flash_hex_file") }}">
			    </span>
		        <span class="add-on" data-bind="text: hex_path"></span>
		    </div>
		</div>
		<div class="control-group">
		    <label class="control-label">{{ _('Board') }}</label>
		    <div class="controls">
		        <select data-bind="options: boards, optionsText: 'text', optionsValue: 'value', value: selected_board"></select>
		    </div>
		</div>
		<div class="control-group">
		   <label for="connection_ports_flash" data-bind="css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()">{{ _('Serial Port') }}</label>
		    <div class="controls">
		    	<select id="connection_ports_flash" data-bind="options: connection.portOptions, value: selected_port, css: {disabled: !connection.isErrorOrClosed()}, enable: connection.isErrorOrClosed() && loginState.isUser()"></select>
		    </div>
		</div>
		<button class="btn btn-primary" id="settings-flash-arduino-start">{{ _('Flash') }}</button>
	</div>
	<div class ="span4">
		<h5>Status</h5>
		<div id="flash_read_progress" class="progress progress-info" style="width: 100%;">
		    <div class="bar" style="width: 100%"></div>
		    <span>Reading Flash</span>
		</div>
		<div id="flash_write_progress" class="progress progress-info" style="width: 100%;">
		    <div class="bar" style="width: 100%"></div>
		    <span>Writing Flash</span>
		</div>
		<div id="flash_verify_progress" class="progress progress-info" style="width: 100%;">
		    <div class="bar" style="width: 100%"></div>
		    <span>Verify Flash</span>
		</div>
		<div id="flash_done_progress" class="progress progress-info" style="width: 100%;">
		    <div class="bar" style="width: 100%"></div>
		    <span>Flashing Done</span>
		</div>
	</div>
</div>