<h5>Status</h5>
<div id="bossac_erase_progress" class="progress progress-info" style="width: 100%;">
    <div class="bar" style="width: 100%"></div>
    <span>Erase Flash</span>
</div>
<div id="bossac_write_progress" class="progress progress-info" style="width: 100%;">
    <div class="bar" style="width: 100%"></div>
    <span>Writing Flash</span>
</div>
<div id="bossac_verify_progress" class="progress progress-info" style="width: 100%;">
    <div class="bar" style="width: 100%"></div>
    <span>Verify Flash</span>
</div>
<div id="bossac_done_progress" class="progress progress-info" style="width: 100%;">
    <div class="bar" style="width: 100%"></div>
    <span>Flashing Done</span>
</div>